@charset 'utf-8';

body {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: #b5b5b5;
  /* height: 107px; */
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
header h1 {
  padding: 20px 0 0 15px;
}

header .header_menu {
  display: flex;
  padding: 27px 27px 0 0;
}
header .header_menu li {
  margin-right: 18px;
  font-size: 20px;
  text-transform: capitalize;
}
/* ======================header============================= */
.main {
  background-color: #b5b5b5;
  padding-top: 100px;
  position: relative;
}
.main .background-wrapper {
  position: absolute;
  top: 0;
}
.main .background-wrapper img {
  width: 100%; 
}
.main .main_img_wrapper {
  position: relative;
  width: 40%; height: 80vh;
  margin: auto;
  overflow: hidden;
  padding-top: 218px;
  z-index: 99;
  margin-top: 220px;
  
}
.main .main_img_wrapper img {
  position: absolute;
  top: 0%;
  left: -105%;
  width: 300%;
  height: 200%;
  transform: scale(2);
  transition: transform 1000ms ease-out;
  margin: auto;
}
.mov_text {
  font-size: 87px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  z-index: 999;
}
.mov_text.text1 { top: 768px; left: 15%;}
.mov_text.text2 { top: 1100px; left: 50%;}
.mov_text.text3 { top: 1400px; right: 20%;}

/* ======================main============================= */

.gallery { 
  background-color: #b5b5b5;
  display: flex;
  justify-content: space-between;
  padding-top: 267px;  width: 100%;
}
.gallery > img{ 
  width: 37.2%;
  height: 80vh;
}
.gallery .img_group {
  width: 30%;
  /* opacity: 0; */
  transition: .5s;
}
.gallery .img_group > img {
  width: 100%;
}
.gallery .img_group img:first-child {
  margin-bottom: 50px;
}
/* .gallery .img_group.on {
  opacity: 1;
} */
/* ======================gallery============================= */
.best_collection {
  font-family: "Abhaya Libre", serif;
  background-color: #b5b5b5;
  height: 300vh;
  position: relative;
  text-transform: uppercase;
}
.best_collection .title {
  width: 35%;
  margin-left: 26.5%;
  padding-top: 120px;
}
.best_collection .title h2 {
  font-size: 60px;
}
.best_collection .title img {
  width: 100%;
}
.best_collection > img {
  position: absolute;
}
.best_collection .img_container{
  display: flex;
  align-items: center; 
  position: absolute;
  transition: .5s;
}
.best_collection .img_container img {
  height: 100px;
}
.best_collection .img_container p {
  font-size: 155px;
} 
.best_collection .text {
  font-size: 155px;
  position: absolute;
  transition: .5s;
}
.best_collection .fixed1 { width: 26%; top: 4%; right: 3%;}
.fixed2 { width: 18.9%; top:20%; right: 12%;}
.fixed3 { width: 18.9%; top: 57.4%; right: 35%;}
.fixed4 { width: 18.9%; top: 80%; right: 40%;}

.container1 { top: 26%;}
.container2 { top: 65%; left: 22%;}
.container3 { top: 88%; left: 35%;}
.text.text1 { top: 33%; right: 7%;}
.text.text2 { top: 70%; right: 7%;}
.text.text3 { top: 93%; right: 13%;}
/* ======================best-collection============================= */
.introduction {
  font-family: "Abhaya Libre", serif;
  background-color: #b5b5b5;
  padding-top: 100px;
}
.introduction .intro_img_wrapper {
  display: flex;
}
.introduction .intro_img_wrapper img {
  width: 50%;
}
.introduction .intro_text_wrapper {
  display: flex;
  margin-top: 106px;
}
.introduction .intro_text_wrapper h2 {font-size: 36px; color: #374B3F; margin-right: 45px;}
.introduction .intro_text_wrapper p {
  font-size: 55px;
  text-align: left;
  width: 76%;
  color: #fff;
}
.introduction .phrase {
  font-size: 48px;
  text-transform: uppercase;
  color: #243029;
  margin-top: 485px;
  text-align: left;
}
/* ======================introduction============================= */
.hsWrapper {
  font-family: "Abhaya Libre", serif;
  margin: 0;
  overflow-x: hidden;
}
.horizontal_scroll {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
}
.hs_part1 {
  background-color: #243029;
  width: 100vw;
  /* height: 100%; */
  position: relative;
}
.part1_top, .part1_bottom {
  width: 100%;
  display: flex;
  align-items: center;
}
.hs_part1 .part1_top h2 {
  width: 62.3%;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding-top: 173px;
  margin-bottom: 160px;
  line-height: 1.2;
  font-size: 153px;
  font-weight: 800;
}
.hs_part1 .part1_top img {
  /* padding-top: 17%; */
  width: 30%;
  height: 51%;
}
.hs_part1 p {
    /* width: 50%; */
    color: #fff;
    margin: 0;
}
.hs_part1 .part1_bottom img {
  width: 38.5%;
  height: 51%;
  margin-right: 6%;
}
.hs_part1 .part1_bottom .text-wrapper {
  position: relative;
  text-align: left;
  margin-right: 80px;
}
.hs_part1 .part1_bottom .text-wrapper p:first-child {
  font-size: 65px;
  text-transform: uppercase;
  margin-bottom: 10%;
}
.hs_part1 .part1_bottom .text-wrapper p:nth-child(2) {
  font-size: 70px;
}
.hs_part1 .part1_bottom .text-wrapper p:last-child {
  font-size: 60px;
}
/* part1 */
.hs_part2 {
  background-color: #243029;
  width: 100vw;
  /* height: 100%; */
  position: relative;
  color: #fff;
  text-transform: uppercase;
}
.hs_part2 > p {
  font-size: 100px;
  text-align: right;
  margin-top: 65px;
}
.hs_part2 > img {
  position: absolute;
}
.hs_part2 > img:first-of-type {
  left: 10%; top: 20%;
}
.hs_part2 > img:last-of-type {
  bottom: 0;
  right: 0;
}
.hs_part2 .part2_bottom {
  display: flex;
  margin-top: 350px;
}
.hs_part2 .part2_bottom .text-wrapper {
  font-size: 65px;
  text-align: left;
  margin: 2%;
}
/* part2 */
.hs_part3 {
  background-color: #243029;
  width: 100vw;
  /* height: 100%; */
  position: relative;
  color: #fff;
  text-transform: uppercase;
}
.hs_part3 > p {
  font-size: 130px;
  text-align: left;
  margin-top: 65px;
}
.hs_part3 > img {
  position: absolute;
  right: 0; top: 15%;
}
.hs_part3 .part3_bottom {
  display: flex;
}
.hs_part3 .part3_bottom .text-wrapper {
  font-size: 65px;
  text-align: left;
  padding: 10%;
}
/* ======================horizontal============================= */
